
*{
	font-family: Arial;
    font-weight: lighter;
    word-spacing: 3px;
    letter-spacing: 4px;
	
}
html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

}
#back{
	position: absolute;
	z-index: -10;
	width: 100%;
	height: 100%-70px;
}

#layout{
	background: url('../img/bg.png') no-repeat 0 0;
    background-position: center;
    background-size: cover;
    background-color: #040707;
    overflow: hidden;
    
    width: 100%;
    height: 100%;
    z-index: -100;
}
#menu{
	background-color: black;
	position: fixed;
	width: 100%;
	height: 70px;
	color: white;
}

.container3{
	display: flex;
	justify-content: space-around;
	position: fixed;
	width: 102%;
	height: 70px;
	vertical-align: middle;
}


.container1{
	background-color: transparent;
	margin-top: -40px;
	height: 50px;
	width: 50px;

}

.container2{
	background-color: transparent;
	margin-top: -35px;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: space-around;

}
#ico2{
	padding-left: 10px;
}
.container0{
	background-color: transparent;
	margin-top: 25px;
	height: 50px;
	width: 50px;
}



#panel{
	text-decoration: none;
	background-color: #141c1c;
	position: fixed;
	z-index: 2;
	/*opacity: 0.85;*/
	width: 300px;
	height: 100%;
	margin-top: 70px;
	display: none;
	color: #c2c2c2;
}

#panel{
	animation-name: move;
	animation-duration: 0.5s;
	-webkit-animation-name: move;
	-webkit-animation-duration: 0.5s;

}

#panel{
	color: white;
	font-size: 22px;
	padding-left: -30px;
}

@keyframes move{
	0%{margin-left: -300px;}
	100%{margin-left: 0px;}
}
@-webkit-keyframes move{
	0%{margin-left: 0px;}
	100%{margin-left: 100px;}
}

footer{
	width: 100%;
	display: table;
	background-color: black;
	color: #c2c2c2;
	text-align: center;
	font-size: 20px;
}

h3{
	padding-left: 40px;
	padding-right: 40px;
	font-size: 22px;
	z-index: 10000;
	color: white;
	margin-top: -30px;
}
h1 { 
	
	font-size: 70px;
	margin-top: 250px;
	color: white;
	z-index: 10000;
}


@media(min-width: 1200px){
table{
	padding-right: 50px;
	width: 100%;
	border-spacing: 100px 100px;
}}


@media(max-width: 1199px){

	
	table{
		width: 100%;
		vertical-align: middle;
		display: flex;
		justify-content: center;
		
	}
	table tr{
		display: block;

	}
	td{
		width: 100px;
		padding-right: 250px;
		align-items: center;
		margin-bottom: 70px;
	}
	table td{
		display: block;
		
	}
	table td:before{
		content: attr(aria-label);
		float: center;
	}
}
#table-container{
	width: 100%;
	background-color: transparent;
	display: flex;
	justify-content: center;
}
p{
	padding-left: 40px;
	padding-right: 40px;
	font-size: 22px;
}












#news-block{
	width: 350px;
	height: 420px;
	background-color: white;
	border-radius: 10px;
	/*margin-left: 100px;*/
}


#new-img{
	width: 350px;
	height: 200px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#header{
	font-size: 25px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	color: black;
	font-family: Arial;
}
#desc{
	font-size: 15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	font-family: Arial;
	color: black;
	font-weight: lighter;
}
#date{
	font-size: 16px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	font-weight: bold;
	color: #898989;
}

button{
	width: 150px;
	height: 40px;
	background-color: transparent;
	border: 3px solid white;
	color: white;
	font-size: 20px;
}
a{
	text-decoration: none;
}




.questionTree{
	background-color: transparent;
	width: 70%;
	border: 5px solid white;
	border-radius: 10px;
	margin-top: 50px;
	color: white;
	font-size: 40px;
	margin-left: 16%;
	height: 300px;
}
.class-box{
	width: 100%;
}

#return{
	margin-left: 40%;

	width: 20%;
	height: 30px;
	color: white;
	background-color: transparent;
	font-size: 20px;
	margin-top: 30px;
	border: 5px solid white;
	border-radius: 10px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}
.buttons{
	padding-left: 80px;
	padding-bottom: 20px;

	width: 22px;/*СЮРПРАЙЗ ЕПТА! ПАСХАЛОЧКА НАХУЙ! ПЕРЛ ХАРБОР БЛЯТЬ!*/
	display: table;
	cursor: pointer;
	margin-top: 10px;
}

.questionTree .question{
    height: 50px;
    width: 98%;
    padding-left: 20px;
    font-size: 40px;
    margin-top: 20px;
}



#huy{
	position: absolute;
	text-align: center;
	background-color: transparent;
	color: white;
	font-size: 22px;
	margin-top: 30px;
	border-radius: 10px;
	width: 200px;
	height: 50px;
	border: 5px solid white;
	margin-left: 22%;
}

#select, #select1{
	margin-right: 40px;
	padding-right: 30px;
	font-size: 30px;
	color: white;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding-top: 50px;
}

#last{
	display: none;
}
table{
	margin-top: -60px;
	width: 100%;
	height: 200px;
}

.bot{
	font-size: 30px;
	padding-top: -20px;
	cursor: pointer;
}

.altitude{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
}


.main{
	
	font-size: 30px;
}

.box{
	width: 80%;
	background-color: white;
	border-radius: 10px;
	height: 300px;
	color: black;

	display: flex;
	justify-content: space-around;

}
img{
	
	height: 300px;
	border-top-left-radius:10px;
	
}

h2, h4{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 30px;
}
#content{
	display: flex;
	width: 100%;
	justify-content: space-around;
}



#sport1, 
#sport2,
#sport3,
#auto1,
#auto2,
#auto3,
#cook1,
#cook2,
#cook3,
#mu1,
#mu2,
#mu3,
#cre1,
#cre2,
#cre3,
#it1,
#it2,
#it3
{
	display: none;
}